:root {
  --main-color: rgb(40, 39, 39);
  --secondary-color: rgb(250, 250, 250);
  --terciary-color: rgb(119, 119, 119);
}


.footer-container {
  background-color: var(--main-color);
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  box-shadow: 0 0 5px black;
 }


.footer-container img {
  width:  1.5rem;
 
}

.footer-container ul li{
  list-style-type: none;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.contact ul li {
  display: inline-block;
}

