:root {
  --main-color: rgb(40, 39, 39);
  --secondary-color: rgb(250, 250, 250);
  --terciary-color: rgb(119, 119, 119);
}

.footer-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  height: 20vh;
 }

 .footer-container ul {
  list-style-type: none;
 }

 .navigacija, .inf, .contact {
  margin: 10px;
  display: inline-block;
  
 }

 

.links {
  display: flex;
  align-items: center;
  vertical-align: text-top;
}


 .footer-container p {
  color: var(--secondary-color);
 }

.icon {
  width: 20px;
}

