
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Rethink+Sans&family=Roboto&family=Space+Grotesk&display=swap');
@import url("../styles/header.css");
@import url("../styles/contact.css");
@import url("../styles/footer.css");
@import url("../styles/header.css");
@import url("../styles/o_nama.css");
@import url("../styles/usluge.css");

:root {
  --main-color: rgb(40, 39, 39);
  --terciary-color: rgb(255, 255, 255);
  --secondary-color: rgb(46, 46, 46);
  
}

* {
  margin: 0;
  padding: 0;
}

body {
  
  padding-top: 110px;
  font-family: 'Robato', Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

nav,
main,
.footer-container {
  max-width: 991px;
  margin: 0 auto;
 
}



.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.5);
  color: white;
  text-align: center;
  transform: scale(0);
  inset: 0;
  transition: all .3s ease-in-out;
}

.overlay a{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 3px;
}

.overlay p {
  width: 50%;
  
}

.div-1:hover,
.div-2:hover,
.div-3:hover,
.div-4:hover,
.div-5:hover {
  .overlay  {
    transform: scale(1);
  }
  
}