:root {
  --main-color: rgb(40, 39, 39);
  --secondary-color: rgb(250, 250, 250);
  --third-color: rgb(50, 49, 49);
}

nav {
  background-color: var(--main-color);
  opacity: 0.98;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
 }

.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.left-part p {
  margin-left: 1rem;
  text-align: left;
}

.middle-part ul{
  list-style: none;
 }

.middle-part li {
  display: inline-block;
  justify-content: space-between;
  
}



.middle-part ul a {
  color: var(--secondary-color);
  padding: 0.2rem;
  
}

.middle-part ul a:hover {
  border-bottom: 1px solid var(--secondary-color);

}
.middle-part ul a.active
{
  border-bottom: 1px solid var(--secondary-color);

    
}



.search-bar {
  display: flex;
 
}


.search-bar input:hover {
  background-color: grey;
  cursor: pointer;
  transform: scale(1.1);
 
}
.search-icon {
  vertical-align: middle;
}

.search:hover {
  transform: scale(1.1);
}

header {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}