:root {
  --main-color: rgb(40, 39, 39);
  --secondary-color: rgb(250, 250, 250);
  --third-color: rgb(50, 49, 49);
}

nav {
  background-color: var(--secondary-color);
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
    
 }

.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.middle-part ul{
  list-style: none;
 }

.middle-part li {
  display: inline-block;
  
}

.middle-part li {
  display: inline-block;
  
}


.middle-part ul a {
  color: var(--main-color);
}

.middle-part ul a:hover
 {
  background-color: var(--third-color);
  color: var(--secondary-color);
}

.middle-part ul a.active{
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.search-bar {
  display: flex;
 
}

.search-icon {
  vertical-align: middle;
}

.search:hover {
  background-color: red;
}


