.hero-section {
  width: 100%;
  height: 60vh;
  display: flex ;
  position: relative;
}

.hero-section img  {
  width: 100%;
  object-fit: cover;
  
}

.title {
  position: absolute;
  width: 50%;
  top: 10%;
  right: 5%;
  color: white;
  
  text-align: right;
}

.title button {
  float: right;
  background-color: transparent;
  padding: 0.5em;
  border: 1px solid white;
  color: white;
  margin-top: 0.5rem;
  border-radius: 2px;
  font-size: 1.1rem;

}

.title button:hover {
  transform: scale(1.1);
  background-color: white;
  color: rgb(19, 19, 19);
}

.title h1,
.title p:first-of-type
{
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
}


.main-galerija {
  display: grid;
  height: 500px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 20px;
  
}


.main-galerija div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   
}

.main-galerija .div-1
 {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url(../slike/galerija_ograda.webp);
  background-size: cover;
}

.main-galerija .div-2 {
  grid-row: span 3;
  grid-column: span 4;
  background-image: url(../slike/galerija_konstrukcija.webp);
  background-size: cover;
}

.main-galerija .div-3{
  grid-row: span 4;
  grid-column: span 2;
  background-image: url(../slike/galerija_zavarivanje.jpg);
  background-size: cover;
}

.main-galerija .div-4 {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url(../slike/galerija_krov.webp);
  background-size: cover;
  background-position: 10;
}

 .div-5 {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url(../slike/galerija_cnc.webp);
  background-size: cover;
}





iframe {
width:100%;
margin: 2rem auto;
opacity: 0.4;
}

iframe:hover {
  opacity: 1;
}

.tko_smo {
  display: grid;
  grid-template-columns: repeat(6, fr);
  grid-template-rows: repeat(5, fr);
  width: 100%;
  height: 500px;
}

